<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"><title>Register</title></head>
<body>
<div class="header_section"
     th:replace="~{fragments/navbarlogin::navbarlogin(activeLink=${'register'})}">
</div>
<main class="common_page registration_page">
    <div class="registration-container">
        <form class="mx-auto w-25 bg-blur rounded"
              th:method="post"
              th:action="@{/users/register}"
              th:object="${userRegistrationDTO}">

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label th:for="email" class="h4 mb-2">Email</label>
                </div>
                <input type="email"
                       id="email"
                       class="form-control"
                       th:field="*{email}"
                       th:errorclass="bg-danger"/>
                <small th:errors="*{email}">Email error message</small>
            </div>

            <div class="form-group">
                <div class="label-holder textCol d-flex justify-content-center">
                    <label th:for="firstName" class="h4 mb-2 text-white">First Name</label>
                </div>
                <input type="text" class="form-control" id="firstName"
                       th:field="*{firstName}"
                       th:errorclass="bg-danger"/>
                <small th:errors="*{firstName}">First Name error message</small>
            </div>

            <div class="form-group">
                <div class="label-holder textCol d-flex justify-content-center">
                    <label th:for="lastName" class="h4 mb-2 text-white">Last Name</label>
                </div>
                <input type="text" class="form-control" id="lastName"
                       th:field="*{lastName}"
                       th:errorclass="bg-danger"/>
                <small th:errors="*{LastName}">Last Name error message</small>
            </div>

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label th:for="password" class="h4 mb-2">Password</label>
                </div>
                <input type="password" class="form-control" id="password"
                       th:field="*{password}"
                       th:errorclass="bg-danger"/>
                <small th:errors="*{password}">Password error message</small>
            </div>

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label th:for="confirmPassword" class="h4 mb-2">Confirm Password</label>
                </div>
                <input type="password" class="form-control" id="confirmPassword"
                       th:field="*{confirmPassword}"
                       th:classappend="${#fields.hasErrors('password')} ? 'bg-danger'"/>
            </div>

            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-warning  mb-3" value="Register">Register</button>
            </div>
        </form>
    </div>
</main>
<div class="copyright_section"
     th:replace="~{fragments/copyrights}">
</div>
</body>
</html>
